<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangwawa.topview">

    <application>
        <provider
            android:name=".internal.InitContentProvider"
            android:authorities="initprovider"
            android:enabled="true"
            android:exported="false"></provider>
    </application>

</manifest>